.container{
    min-height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.top{
    grid-column-start: 1;
    grid-row-start: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 4rem;
}
.title{
    font-size: 2rem;
    line-height: 3.25rem;
    text-align: center;
    vertical-align: middle;
    color: var(--primary-color);
    width: 60%;
    border: 3px var(--primary-color) solid;
    border-radius: 32px;
    padding: 8px 0px;
}

.title p {
    margin: 0;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* height: fit-content; */
    width: 96%;
    align-items: center;
    justify-content: space-between;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form label {
    color: var(--text-secondary-color);
    font-size: 1.5rem;
    line-height: 3.25rem;
}

form input {
    width: 75%;
    font-size: 1.5rem;
    line-height: 3.25rem;
    text-align: center;
    color: var(--footer-color);
    background-color: var(--border-color);
    border: none;
    border-radius: 32px;
    padding: 2px 2px;
    margin-bottom: 2rem;
}

form input:focus-visible{
    border: 2px var(--secondary-color) solid;
}
