<div class="container">
    <div class="inner_container">
        <div class="top">
            <div class="title">
                <p class="capitalize">Your Product</p>
            </div>
        </div>
    <form>
        <div class="row">
          <label for="name">Sku Name</label>
          <input id="name" type="text" placeholder="Type a description" name="description" formControlName="description">
        </div>
    
        <div class="row">
            <label for="Branch name">Branch name</label>
            <input id="symbol" type="text" placeholder="Type a symbol" name="symbol" formControlName="symbol">
        </div>

        <div class="row">
            <label for="Quantity">Quantity</label>
            <input id="symbol" type="text" placeholder="Type a symbol" name="symbol" formControlName="symbol">
        </div>

        <div class="row">
            <label for="Aisle">Aisle | Bay</label>
            <input id="symbol" type="text" placeholder="Type a symbol" name="symbol" formControlName="symbol">
        </div>

        <div class="row">
            <label for="Measurement Unity">Measurement Unity</label>
            <input id="symbol" type="text" placeholder="Type a symbol" name="symbol" formControlName="symbol">
        </div>

        <div class="row">
            <label for="Arrival Date">Arrival Date</label>
            <input id="symbol" type="text" placeholder="Type a symbol" name="symbol" formControlName="symbol">
        </div>
      
    </form>
</div>
</div>