<div class="container">
    <div class="inner_container">
        <div class="top">
            <div class="title">
                <p class="capitalize">Your Product</p>
            </div>
        </div>
    <form [formGroup]="form">
        <div class="row">
          <label for="name">Sku Name</label>
          <input readonly id="name" type="text" placeholder="Missing Information" name="name" formControlName="name">
        </div>
    
        <div class="row">
            <label for="Branch name">Branch name</label>
            <input readonly id="branchName" type="text" placeholder="Missing Information" name="branchName" formControlName="branchName">
        </div>

        <div class="row">
            <label for="Quantity">Quantity</label>
            <input readonly id="quantity" type="text" placeholder="Missing Information" name="quantity" formControlName="quantity">
        </div>

        <div class="row">
            <label for="AisleBay">Aisle | Bay</label>
            <input readonly id="aisleBay" type="text" placeholder="Missing Information" name="aisleBay" formControlName="aisleBay">
        </div>

        <div class="row">
            <label for="Measurement Unity">Measurement Unity</label>
            <input readonly readonly id="measurementUnity" type="text" placeholder="Missing Information" name="measurementUnity" formControlName="measurementUnity">
        </div>

        <div class="row">
            <label for="Arrival Date">Arrival Date</label>
            <input readonly id="arrivalDate" type="text" placeholder="Missing Information" name="arrivalDate" formControlName="arrivalDate">
        </div>
      
    </form>
</div>
</div>