<app-header></app-header>
<div class="container">

  <div class="content">

    <div class="top">
      <div class="title">
        <p class="capitalize">Create Transaction</p>
      </div>
    </div>
    <form [formGroup]="form" (ngSubmit)="createTransaction()">
      <div class="row">
        <label for="sku">Product</label>
        <input type="text" placeholder="Select a sku" matInput name="selectedSkuId" formControlName="sku"
          [matAutocomplete]="skuAutoComplete" (blur)="skuFallback()">
        <mat-autocomplete #skuAutoComplete="matAutocomplete" [displayWith]="displaySku">
          <mat-option *ngFor="let sku of filteredSkus | async" [value]="sku">
            {{sku.name}}
          </mat-option>
        </mat-autocomplete>
      </div>
      <div class="row">
        <label for="client">Client</label>
        <input type="text" placeholder="Select a client" matInput name="selectedClientId" formControlName="client"
          [matAutocomplete]="clientAutoComplete" (blur)="clientFallback()">
        <mat-autocomplete #clientAutoComplete="matAutocomplete" [displayWith]="displayClient">
          <mat-option *ngFor="let client of filteredClients | async" [value]="client">
            {{client.name}}
          </mat-option>
        </mat-autocomplete>
      </div>
      <div class="row">
        <label for="quantity">Quantity</label>
        <input type="number" min="0"  placeholder="Type a quantity" formControlName="quantity">
      </div>

      <div class="row">
        <label for="type">Type</label>
        <select formControlName="type">
          <option value="" hidden selected="selected">Choose a type</option>
          <option value="in">In</option>
          <option value="out">Out</option>
        </select>
      </div>

      <div class="buttons">
        <button [disabled]="form.invalid" mat-raised-button class="sucessButton">Create Transaction</button>
      </div>
    </form>

  </div>
</div>
<!-- <div class="arrows">
  <div class="upwardArrow" [ngClass]="isUp ? 'Up' : ''"></div>
  <div class="downwardArrow" [ngClass]="isDown ? 'Down' : ''"></div>
</div> -->

<app-footer></app-footer>
