<div class="top">
  <button mat-icon-button *ngIf="showUpdateButton" class="edit" (click)="clickOnEdit()">
    <mat-icon>mode_edit</mat-icon>
</button>
  <div class="title">
    <p class="capitalize">SKU</p>
  </div>
  <button mat-icon-button *ngIf="showDeleteButton" (click)="openConfirmDialog()">
    <mat-icon>delete_forever</mat-icon>
  </button>
</div>
<form [formGroup]="form" (ngSubmit)="update()">
  <div class="row">
    <label for="name">Name</label>
    <input class="capitalize" [ngClass]="isReadOnly ? 'readonly' : ''" [readonly]="isReadOnly" type="text" placeholder="Type a name" name="name" formControlName="name">
  </div>

  <div class="row">
    <label for="category">Category</label>
    <input class="capitalize" [ngClass]="isReadOnly ? 'readonly' : ''" [readonly]="isReadOnly" type="text" placeholder="Select a category" matInput name="selectedCategoryId" formControlName="category"
      [matAutocomplete]="categoryAutoComplete" (blur)="categoryFallback()">
    <mat-autocomplete #categoryAutoComplete="matAutocomplete" [displayWith]="displayCategory">
      <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
        {{category.name}}
      </mat-option>
    </mat-autocomplete>
  </div>

  <div class="row">
    <label for="unit">Unit</label>
    <input [ngClass]="isReadOnly ? 'readonly' : ''" [readonly]="isReadOnly" type="text" placeholder="Type a unit" name="unit" formControlName="measurementUnit"
      [matAutocomplete]="unitAutoComplete" (blur)="unitFallback()">
    <mat-autocomplete #unitAutoComplete="matAutocomplete" [displayWith]="displayUnit">
      <mat-option *ngFor="let unit of filteredUnits | async" [value]="unit">
        <span class="capitalize">{{unit.description}}</span> - {{unit.symbol}}
      </mat-option>
    </mat-autocomplete>
  </div>

  <div *ngIf="showButtons" class="buttons">
    <button mat-dialog-close mat-raised-button class="cancelButton"> Cancel</button>
    <button [disabled]="form.invalid" mat-raised-button class="sucessButton">Update</button>
  </div>
</form>
