<div class="container">
    <div class="title">
        <p class="capitalize">Your Product</p>
    </div>
    <form>
        <div class="row">
          <label for="name">Sku Name</label>
          <input id="name" type="text" placeholder="Type a description" name="description" formControlName="description">
        </div>
    
        <div class="row">
            <label for="symbol">Branch name</label>
            <input id="symbol" type="text" placeholder="Type a symbol" name="symbol" formControlName="symbol">
        </div>

        <div class="row">
            <label for="symbol">Quantity</label>
            <input id="symbol" type="text" placeholder="Type a symbol" name="symbol" formControlName="symbol">
        </div>

        <div class="row">
            <label for="symbol">Aisle | Bay</label>
            <input id="symbol" type="text" placeholder="Type a symbol" name="symbol" formControlName="symbol">
        </div>

        <div class="row">
            <label for="symbol">Measurement Unity</label>
            <input id="symbol" type="text" placeholder="Type a symbol" name="symbol" formControlName="symbol">
        </div>

        <div class="row">
            <label for="symbol">Arrival Date</label>
            <input id="symbol" type="text" placeholder="Type a symbol" name="symbol" formControlName="symbol">
        </div>
      
    </form>
</div>