.container{
    min-height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(10, 10%);
}

.title{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    
    font-size: 2rem;
    line-height: 3.25rem;

    color: var(--primary-color);
    width: 70%;
    border: 3px var(--primary-color) solid;
    border-radius: 32px;
    padding: 8px 0px;
}
form input {
    width: 75%;
    font-size: 1.5rem;
    line-height: 3.25rem;
    text-align: center;
    color: var(--footer-color);
    background-color: var(--border-color);
    border: none;
    border-radius: 32px;
    padding: 2px 2px;
    margin-bottom: 2rem;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


p{
    margin: 0;
}