<app-header></app-header>
<div class="container">
  <div class="title">
    <p>Category</p>
  </div>
  <div class="search-bar">
    <app-search-bar
      (searchTextChanged)="onSearchTextEntered($event)"
    ></app-search-bar>
  </div>

  <p *ngFor="let c of categories"></p>

  <div class="cards">
    <app-category-item-create-card
      *ngIf="auth.validateRole(btnPermission.addCategory)"
      (onItemAdded)="getCategories()"
    ></app-category-item-create-card>
    <app-category-item-card
      (onItemUpdatedOrDeleted)="getCategories()"
      *ngFor="let c of categories"
      [category]="c"
    ></app-category-item-card>
  </div>
</div>
<app-footer></app-footer>
