.card{
    border: 4px var(--border-color) solid;
    margin: 16px 8px;
    min-width: 300px;
    max-width: 450px;
    height: 15rem;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}