<div class="container">
  <div class="left-content">
    <img src="../../../assets/images/loginImg.svg" alt="Login Image">

  </div>

  <div class="right-content">

    <img class="logo" src="../../../assets/images/TWMS_logo.svg" alt="Logo T-WMS">
    <div class="title">Login into your account</div>

    <form class="form" [formGroup]="form" (ngSubmit)="login()">
      <div class="group">

        <div class="row">
          <label for="username">Username</label>
          <div class="input">
            <input type="text" placeholder="Type your username" name="username" formControlName="username" #username>
            <button type="button" class="icon" (click)="username.focus()">
              <i class="material-icons">mail</i>
            </button>
          </div>
          <p *ngIf="form.controls['username'].errors?.['required']">User name is required</p>

        </div>
        <div class="row">
          <label for="password">Password</label>
          <div class="input">
            <input [type]="showPassword ? 'text' : 'password'" placeholder="Enter your password" name="password" formControlName="password" #password>
            <button type="button" class="icon" (click)="togglePasswordVisibility(password)">
              <i class="material-icons">{{showPassword ? 'lock_open' : 'lock'}}</i>
            </button>
          </div>
          <a href="/login" id="forgotPassword">Forgot Password?</a>
          <p *ngIf="form.controls['password'].errors?.['required']">Password is required</p>
          <p *ngIf="form.controls['password'].errors?.['minlength']">Password needs at least 5 characters</p>
          <p *ngIf="form.controls['password'].errors?.['maxlength']">Password needs at most 20 characters</p>
        </div>
      </div>

      <button [disabled]="form.invalid" id="loginButton">Login now</button>
      <!-- <button id="loginButton">Login now</button> -->
    </form>
  </div>
</div>
