<div class="top">
  <button mat-icon-button *ngIf="auth.validateRole(permissions.updateUnit) && showUpdateButton" class="edit" (click)="clickOnEdit()">
    <mat-icon>mode_edit</mat-icon>
</button>
    <div class="title">
      <p class="capitalize">Measurement Unit</p>
    </div>
    <button mat-icon-button *ngIf="showDeleteButton" (click)="openConfirmDialog()">
      <mat-icon>delete_forever</mat-icon>
    </button>
  </div>
  <form [formGroup]="form" (ngSubmit)="update()">
    <div class="row">
      <label for="name">Description</label>
      <input [ngClass]="isReadOnly ? 'readonly' : ''" [readonly]="isReadOnly" id="name" type="text" placeholder="Type a description" name="description" formControlName="description">
    </div>

    <div class="row">
        <label for="symbol">Symbol</label>
        <input [ngClass]="isReadOnly ? 'readonly' : ''" [readonly]="isReadOnly"  id="symbol" type="text" placeholder="Type a symbol" name="symbol" formControlName="symbol">
      </div>
  
    <div *ngIf="showButtons" class="buttons">
      <button mat-dialog-close mat-raised-button class="cancelButton"> Cancel</button>
      <button [disabled]="form.invalid" mat-raised-button class="sucessButton">Update</button>
    </div>
  </form>
