.card {
    border: 4px var(--border-color) solid;
    margin: 16px 8px;
    min-width: 300px;
    max-width: 600px;
    height: 15rem;
    border-radius: 32px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-auto-rows: 1fr 2fr;
}

.sku-name {
    font-size: 2rem;
    text-align: center;
    line-height: 3;
    color: var(--text-primary-color);
}

.sku-name p {
    margin: 0;
}

.aisle-bay {
    width: 13rem;
    height: 10rem;
    border: 4px var(--primary-hover-color) solid;
    border-radius: 32px;
    font-size: 8rem;
    color: var(--primary-hover-color);
    line-height: 0.9;
    text-align: center;
    padding: 1rem;
    margin: 2rem;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.aisle-bay p {
    margin: 0;
    padding-top: 0.9rem;
}

.info {
    display: grid;
    font-size: 1.4rem;
    color: var(--text-secondary-color);
    grid-template-columns: 1fr 1fr;
}

.info p {
    margin: 0;
}

.info .p-name {
    grid-column-start: 1;
    grid-column-end: 3;
}

.info .p-date {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    margin-left: 1.5rem;
    line-height: normal;
}

.info .p-quantity {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.info .p-branch {
    grid-column-start: 1;
    line-height: normal;
}

