<div class="card">
    <div class="aisle-bay">
        <p class="capitalize">{{warehouseSlot.aisle}}{{warehouseSlot.bay}}</p>
    </div>
    <div class="sku-name">
        <p class="capitalize">SKU Name</p>
    </div>
    <div class="info">
        <p class="p-name">Client: nome do cliente</p>
        <p class="p-quantity">Quantity: {{warehouseSlot.quantity}} + UN</p>
        <p class="p-date">Arrival date: {{warehouseSlot.arrivalDate}}</p>
        <p class="p-branch">Branch: {{warehouseSlot.branchName}} </p>
    </div>
</div>