<app-header></app-header>
<div class="container">
    <h1>Barra de pesquisa</h1>
    <div class="cards">
        <app-card-sku></app-card-sku>
        <app-card-sku></app-card-sku>
        <app-card-sku></app-card-sku>
        <app-card-sku></app-card-sku>
        <app-card-sku></app-card-sku>
        <app-card-sku></app-card-sku>
        <app-card-sku></app-card-sku>
        <app-card-sku></app-card-sku>
        <app-card-sku></app-card-sku>
        <app-card-sku></app-card-sku>
        <app-card-sku></app-card-sku>
        <app-card-sku></app-card-sku>
    </div>
</div>
<app-footer></app-footer>
