/* You can add global styles to this file, and also import other style files */
@import "ngx-toastr/toastr";

:root {
  --primary-color: #e20074;
  --primary-hover-color: #e65ba2;
  --secondary-color: #fbd9ea;
  --background-color: white;
  --text-tittle-color: white;
  --danger-color: #e8200b;
  --danger-color-lighter: #f06c5e;
  --sucess-color: #2cbf4e;
  --sucess-color-lighter: #57cc72;
  --border-color: #d9d9d9;
  --text-primary-color: black;
  --text-secondary-color: #9b9b9b;
  --footer-color: #383838;
}

html,
body {
  background-color: var(--background-color);
  min-height: 100vh;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "TeleNeo", sans-serif;
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
}

.capitalize {
  display: inline-block;
}

.capitalize::first-letter {
  text-transform: capitalize;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Overrides some Toastr styles */
.toast-top-right {
  top: 132px;
  right: 12px;
}
