/* .container{
    min-height: 78vh;
    width: 100%;
}

.title{
    margin: 1.5rem;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.container > p {
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
} */
.container {
    background-color: var(--secondary-color);
    width: 100%;
    height: 100%;
    padding: 60px;
    display: flex;
    flex-direction: row;
  }
  
  .left-content{
    flex: 0 1 60%;
    margin: auto 0;
    margin-right: 60px;
  }
  
  .left-content img{
    width: 100%;
    /* margin-bottom: 20px; */
  }
  
  .right-content{
    flex: 1 0 40%;
    margin: auto 0;
    background-color: var(--background-color);
    width: 400px;
    height: fit-content;
    /* margin: auto 0 0 auto; */
    padding: 40px 20px;
    border-radius: 24px;
    box-shadow: 24.2334px 5px 50.4863px 5px rgba(0, 0, 0, 0.2);
  }
  
  .right-content .logo{
    width: 100%;
  }
  
  .title{
    margin: 40px 0;
    text-align: center;
    font-size: 1.5rem;
    color: var(--text-secondary-color);
  }
  
  
  .form {
    height: 340px;
    display: flex;
    flex-direction: column;
  }
  
  .group {
    margin-top: auto;
  }
  
  .row {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: var(--footer-color);
  }
  
  .row input{
    width: 100%;
    margin-top: 12px;
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 8px 12px;
    border-radius: 8px 0 0 8px;
    border: none;
    background-color: var(--border-color);
  }
  
  .input{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  
  .icon {
    background-color: var(--primary-color);
    color: var(--text-tittle-color);
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 8px 8px 0;
    border: none;
  }
  
  input:focus{
    outline: 2px solid black;
  }
  
  input:focus + .icon{
    outline: 2px solid black;
  }
  
  .material-icons {
    font-size: 28px;
  }
  
  .row p {
    margin-top: 12px;
    margin-bottom: 0;
    color: var(--danger-color);
  }
  
  #forgotPassword {
    margin-top: 8px;
    text-align: right;
    font-size: 1rem;
    transition: 0.2s;
  }
  
  #forgotPassword:hover{
    color: var(--primary-color);
  }
  
  
  #loginButton {
    margin-top: auto;
    width: 100%;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    background-color: var(--primary-color);
    color: var(--text-tittle-color);
    cursor: pointer;
    transition: 0.2s;
  }
  
  #loginButton:hover{
    background-color: var(--primary-hover-color);
  }
  
  #loginButton:disabled{
    background-color: var(--text-secondary-color);
  }
  
  
  @media screen and (max-width: 1000px) {
    .container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .left-content{
      display: none;
    }
  }
  
  @media screen and (max-width: 500px) {
    .container {
      padding: 60px 0;
    }
    .right-content{
      width: 90%;
    }
  }
  
  