<a href=""><h1>404</h1></a>
<section>
<div *ngFor="let _ of [].constructor(20)" class="row">
    <div>
        <i class="material-icons">close</i>
        <i class="material-icons">grade</i>
        <i class="material-icons">category</i>
        <i class="material-icons">forklift</i>
        <i class="material-icons">location_city</i>
        <i class="material-icons">straighten</i>
        <i class="material-icons">view_in_ar</i>
        <i class="material-icons">shelves</i>
        <i class="material-icons">person</i>
        <i class="material-icons">groups</i>
        <i class="material-icons">design_services</i>
        <i class="material-icons">build</i>
        <i class="material-icons">warehouse</i>
        <i class="material-icons">inventory_2</i>
        <i class="material-icons">add_box</i>
        <i class="material-icons">factory</i>
        <i class="material-icons">local_shipping</i>
        <i class="material-icons">inventory</i>
        <i class="material-icons">badge</i>
        <i class="material-icons">cycle</i>
    </div>
</div>


</section>