<footer>
    <div class="logo">T-WMS</div>
    <nav>
        <div class="grid-footer-title">
            <span>Visit us on: </span>
        </div>
        <ul>
            <div class="grid-footer-icons">
                <li><span class="material-icons">smartphone</span></li>
                <li><span class="material-icons">smartphone</span></li>
                <li><span class="material-icons">smartphone</span></li>
                <li><span class="material-icons">smartphone</span></li>
            </div>
        </ul>
    </nav>
</footer>
