<app-header></app-header>
<div class="container">
    <div class="left-side">
        <div class="top-left-side">
                <mat-form-field class="estilo" appearance="fill">
                    <mat-label>Branches</mat-label>
                    <mat-select [formControl]="branchesForm" multiple>
                    <mat-select-trigger>
                        {{firstBranch || ''}}
                        <span *ngIf="(branchesForm.value?.length || 0) > 1" class="example-additional-selection">
                        (+{{(branchesForm.value?.length || 0) - 1}} {{branchesForm.value?.length === 2 ? 'other' : 'others'}})
                        </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let branch of branches" [value]="branch">{{branch.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
        </div>
    </div>

    <div class="top-right-side">
        <div class="center">
            <app-search-bar (searchTextChanged)="onSearchTextEnteredSKUWareHouse($event)"></app-search-bar>
        </div>
    </div>
    <div class="right-side">
        <div class="cards">
            <app-card-client-sku (click)="openAddDialog()" *ngFor="let warehouseSlot of client_wareshouses_slots" [warehouseSlot]="warehouseSlot"></app-card-client-sku>
        </div>
    </div>
</div>
<app-footer></app-footer>