<app-header></app-header>
<div class="container">

  <div class="title">
    <p>Home</p>
  </div>
  <div class="cards">
    <button class="card" (click)="navigate()">
      <div class="center">
        <p>Products</p>
      </div>
    </button>
    <button class="card" (click)="navigateToCategories()">
      <div class="center">
        <p>Categories</p>
      </div>
    </button>
    <button class="card" (click)="navigateToMeasurementUnits()">
      <div class="center">
        <p>Measurement Units</p>
      </div>
    </button>
    <button class="card" (click)="navigateToBranches()">
      <div class="center">
        <p>Branches</p>
        </div>
    </button>
    <button class="card" (click)="navigateClientInventory()">
      <div class="center">
        <p>Client Inventory</p>
      </div>
    </button>
    <button class="card" (click)="navigateUser()">
      <div class="center">
        <p>User</p>
      </div>
    </button>
  </div>
</div>
<app-footer></app-footer>