<app-header></app-header>
<div class="container">
    <div class="title">
        <p>Measurement Unit</p>
    </div>
    <div class="search-bar" [ngStyle]="{ display: isError ? 'none' : 'inline'}">
        <app-search-bar (searchTextChanged)="onSearchTextEntered($event)"></app-search-bar>
    </div>
    <div class="center" [ngStyle]="{ display: isLoading ? 'flex' : 'none'}">
        <mat-spinner style="margin-top: 60px;margin-left: 10px" [ngStyle]="{ display: isLoading ? 'inline' : 'none' }" [diameter]="60" color="accent">
        </mat-spinner>
    </div>
    <div class="cards" [ngStyle]="{ display: isLoading || isError ? 'none' : 'flex'}">
        <app-card-create-sku *ngIf="auth.validateRole(btnPermission.addUnit)" [component] = "component"></app-card-create-sku>
        <app-card-measu-unit *ngFor="let measurementUnit of measurementUnits" [measurementUnit]="measurementUnit"></app-card-measu-unit>
    </div>
</div>
<app-footer></app-footer>
