<header>
    <a (click)="navigate('/')">
        <div class="logo">T-WMS</div>
    </a>

    <div class="menu" [class.is-open]="isMenuOpen" [@fadeInOnEnter]>
        <ul>
            <a>
                <li class="item userMobile">
                    <i class="material-icons">account_circle</i>{{auth.getUsername()}}
                </li>
            </a>
            <a (click)="navigate('/')">
                <li class="item"><i class="material-icons">home</i>Home</li>
            </a>
            <div class="line"></div>
            <div *ngIf='auth.validateRole(permissions.products)' class="ngIf-Home">
                <a (click)="navigate('/products')">
                    <li class="item"><i class="material-icons">view_in_ar</i>Products</li>
                </a>
                <div class="line"></div>
            </div>
            <div *ngIf='auth.validateRole(permissions.categories)' class="ngIf-Home">
                <a (click)="navigate('/categories')">
                    <li class="item"><i class="material-icons">category</i>Categories</li>
                </a>
                <div class="line"></div>
            </div>
            <div *ngIf='auth.validateRole(permissions.measurementUnits)' class="ngIf-Home">
                <a (click)="navigate('/measurement-units')">
                    <li class="item"><i class="material-icons">straighten</i>Measurement Units</li>
                </a>
                <div class="line"></div>
            </div>
            <div *ngIf='auth.validateRole(permissions.branches)' class="ngIf-Home">
                <a (click)="navigate('/branches')">
                    <li class="item"><i class="material-icons">location_city</i>Branches</li>
                </a>
                <div class="line"></div>
            </div>
            <div *ngIf='auth.validateRole(permissions.clients)' class="ngIf-Home">
                <a (click)="navigate('/clients')">
                    <li class="item"><i class="material-icons">groups</i>Clients</li>
                </a>
                <div class="line"></div>
            </div>
            <div *ngIf='auth.validateRole(permissions.users)' class="ngIf-Home">
                <a (click)="navigate('/users')">
                    <li class="item"><i class="material-icons">person</i>Users</li>
                </a>
                <div class="line"></div>
            </div>
            <div *ngIf='auth.validateRole(permissions.clientInventory)' class="ngIf-Home">

                <a (click)="navigate('/client-inventory')">
                    <li class="item"><i class="material-icons">shelves</i>Client Inventory</li>
                </a>
                <div class="line"></div>
            </div>
            <div *ngIf='auth.validateRole(permissions.warehouseSlot)' class="ngIf-Home">

                <a (click)="navigate('/warehouse-slots')">
                    <li class="item"><i class="material-icons">forklift</i>Warehouse Slots</li>
                </a>
                <div class="line"></div>
            </div>

            <a (click)="signout()">
                <li class="item"><i class="material-icons">logout</i>Sign out</li>
            </a>
        </ul>
    </div>

    <div class="right-side">
        <div class="user">
            <i class="material-icons">account_circle</i>{{auth.getUsername()}}
        </div>
        <div class="burguer" (click)="toggleMenu()">
            <i class="material-icons burguer-icon" [@fadeInOnEnter]>{{ isMenuOpen ? "close" : "menu"}}</i>
        </div>
    </div>

</header>