<header>
    <div class="logo">T-WMS</div>
    
    <div class="menu" [class.is-open] = "isMenuOpen">
        <ul>
            <a href="#"><li class="item">Home</li></a>
            <div class="line"></div>
            <li class="item">Sku</li>
            <div class="line"></div>
            <li class="item">Texto</li>
            <div class="line"></div>
            <li class="item">Sign out</li>
        </ul>
    </div>
    <div class="burguer" (click)="toggleMenu()">
        <i class="material-icons">{{ isMenuOpen ? "close" : "menu"}}</i>
    </div>

</header>
