<header>
    <a (click)="navigate('/')"><div class="logo">T-WMS</div></a>

    <div class="menu" [class.is-open] = "isMenuOpen" [@fadeInOnEnter]>
        <ul>
            <a (click)="navigate('/')"><li class="item">Home</li></a>
            <div class="line"></div>
            <a (click)="navigate('/products')"><li class="item">Products</li></a>
            <div class="line"></div>
            <li class="item">placeholder</li>
            <div class="line"></div>
            <a (click)="signout()"><li class="item">Sign out</li></a>
        </ul>
    </div>
    <div class="burguer" (click)="toggleMenu()">
        <i class="material-icons" [@fadeInOnEnter]>{{ isMenuOpen ? "close" : "menu"}}</i>
    </div>

</header>
